# Hello, World!

In [ ]:
print("This line will be printed.")

This line will be printed.

In [ ]:
# indentation
x = 1
if x == 1:
  # Print
  print('x is 1.')

x is 1.

# Variables and Types

In [ ]:
myInt = 7
print(myInt)

myFloat = 7.0
print(myFloat)

myFloat = float(7)
print(myFloat)

myString = 'hello'
print(myString)

myString = "hello"
print(myString)

mystring = "Don't worry about apostrophes"
print(mystring)

7
7.0
7.0
hello
hello
Don't worry about apostrophes

In [ ]:
one = 1
two = 2
three = one + two
print(three)

3

In [ ]:
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

hello world

In [ ]:
a, b = 3, 4
print(a, b)

3 4

In [ ]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Lists

In [ ]:
myList = []
myList.append(1)
myList.append(2)
myList.append(3)

print(myList[0])
print(myList[1])
print(myList[2])

for x in myList:
  print(x)

1
2
3
1
2
3

In [ ]:
# it will error
myList = [1,2,3]
print(myList[10])

IndexError: list index out of range

In [ ]:
numbers = []
strings = []
names = ["john", "eric", "jesica"]

second_name = None

print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[]
[]
The second name on the names list is None

# Basic Operators

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [ ]:
remainder = 11 % 3
print(remainder)

2

In [ ]:
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

In [ ]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [ ]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [ ]:
# Lists can be joined with the addition operators:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [ ]:
# Python supports forming new lists with a repeating sequence using the multiplication operator
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# String Formatting

In [ ]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [ ]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age)) # s stand for string d stand for decimal f for floating point number

John is 23 years old.

In [ ]:
astring = "Hello world!"
astring2 = 'Hello world!'

In [ ]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [ ]:
astring = "Hello world!"
print(astring.index("o"))

4

In [ ]:
astring = "Hello world!"
print(astring.count("l"))

3

In [ ]:
astring = "Hello world!"
print(astring[3:7])

lo w

In [ ]:
astring = "Hello world!"
print(astring[3:7:2])
# astring = "Hello world!"
# [3:7:2] artinya:
# Mulai dari index 3
# Berhenti sebelum index 7
# Melangkah 2 karakter sekali (bukan 1)

l

In [32]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

In [33]:
Castring = "Hello world!"
print(astring[::-1])
# string[start:stop:step]
# Pada [::-1]:
# start dan stop dikosongkan ‚Üí artinya ambil seluruh string
# step = -1 ‚Üí artinya ambil dari belakang ke depan (mundur satu per satu)

!dlrow olleH

In [34]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [35]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [38]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

# Conditional

In [39]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [40]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [41]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [42]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [43]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [44]:
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True # 1. == ‚Üí Equality (Kesamaan Nilai)
print(x is y) # Prints out False # is ‚Üí Identity (Kesamaan Identitas di Memori)

True
False

In [45]:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

# Loops

In [46]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [48]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [49]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [50]:

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

In [51]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [53]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [54]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [55]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"

count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [56]:

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

# Functions

In [57]:
def my_function():
    print("Hello From My Function!")

In [58]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [59]:
def sum_two_numbers(a, b):
    return a + b

In [60]:
# Define our 3 functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s, From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

# print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

# after this line x will hold the value 3!
x = sum_two_numbers(1,2)

Hello From My Function!
Hello, John Doe, From My Function!, I wish you a great year!

# Class

In [61]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

In [62]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

In [63]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.variable

'blah'

In [65]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [66]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.function()

This is a message inside the class.

In [67]:
class NumberHolder:

   def __init__(self, number):
       self.number = number

   def returnNumber(self):
       return self.number

var = NumberHolder(7)
print(var.returnNumber()) #Prints '7'

7

# Dictionaries

In [68]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [69]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [70]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [71]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [72]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

# Modules and Package

In [75]:
# math_utils.py
def add(a, b):
    return a + b

def square(x):
    return x * x

In [77]:
# üìÅ File lain: main.py
import math_utils

print(math_utils.add(3, 4))      # Output: 7
print(math_utils.square(5))      # Output: 25

NameError: name 'math_utils' is not defined

In [78]:
import os
import math
import datetime

print(os.name)
print(math.sqrt(16))
print(datetime.datetime.now())

posix
4.0
2025-05-23 04:37:10.807357

```
my_package/
‚îÇ
‚îú‚îÄ‚îÄ __init__.py
‚îú‚îÄ‚îÄ math_utils.py
‚îî‚îÄ‚îÄ string_utils.py
```

In [79]:
# üìÅ math_utils.py
def multiply(a, b):
    return a * b

In [80]:
# üìÅ string_utils.py
def shout(text):
    return text.upper() + "!"

In [ ]:
from my_package import math_utils, string_utils

print(math_utils.multiply(2, 3))        # Output: 6
print(string_utils.shout("hello"))      # Output: HELLO!

üîπ __init__.py ‚Äì Fungsi Khusus
Menandai direktori sebagai package

Bisa digunakan untuk mengatur apa yang tersedia saat import

In [81]:
from .math_utils import multiply
from .string_utils import shout

ImportError: attempted relative import with no known parent package

In [ ]:
from my_package import multiply, shout

print(multiply(4, 5))     # 20
print(shout("hi"))        # HI!

# GEnerators

# üåÄ Generators dalam Python

## üîπ Apa itu Generator?

**Generator** adalah cara khusus untuk membuat **iterator** di Python. Berbeda dengan fungsi biasa yang menggunakan `return`, generator menggunakan `yield` untuk **menghasilkan nilai satu per satu saat diminta (lazy evaluation)**.

---

## üî∏ Perbedaan Generator dan Fungsi Biasa

| Aspek        | Fungsi Biasa             | Generator                      |
|--------------|--------------------------|--------------------------------|
| Keyword      | `return`                 | `yield`                        |
| Eksekusi     | Selesai sekali jalan     | Dapat dilanjutkan (pause/resume) |
| Penyimpanan  | Semua data sekaligus     | Satu item tiap waktu           |
| Memori       | Boros                    | Hemat memori                   |

---

## üî∏ Contoh Fungsi vs Generator

### ‚úÖ Fungsi Biasa

```python
def get_numbers():
    return [1, 2, 3]

print(get_numbers())

In [82]:
def generate_numbers():
    yield 1
    yield 2
    yield 3

gen = generate_numbers()
print(next(gen))  # 1
print(next(gen))  # 2
print(next(gen))  # 3

1
2
3

In [83]:
def count_up_to(max):
    count = 1
    while count <= max:
        yield count
        count += 1

for num in count_up_to(5):
    print(num)

1
2
3
4
5

Generator digunakan ketika kamu ingin mengolah data dalam jumlah besar atau proses yang membutuhkan efisiensi memori dan waktu. Berikut ini kapan dan kenapa kamu sebaiknya menggunakan generator dalam Python:

# List comprehension

List comprehension adalah fitur Python yang memungkinkan kamu membuat daftar (list) baru dengan cara yang singkat, jelas, dan efisien. Alih-alih menggunakan loop tradisional yang panjang, kamu dapat menggunakan satu baris ekspresi yang menyatakan aturan pembentukan setiap elemen.

üîπ Struktur Dasar List Comprehension
Struktur umumnya adalah:

```
[ ekspresi for item in iterable if kondisi ]
```

In [84]:
# Membuat List Kuadrat: tanpa list comprehension

squares = []
for x in range(10):
    squares.append(x * x)
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
# menggunakan list comprehension
squares = [x * x for x in range(10)]
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
evens = []
for x in range(20):
    if x % 2 == 0:
        evens.append(x)
print(evens)  # Output: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [88]:
# Membuat List Elemen Genap:
evens = [x for x in range(20) if x % 2 == 0]
print(evens)  # Output: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
# Mengonversi Semua Huruf ke Kapital:
words = ["python", "java", "c++"]
capitalized = [word.upper() for word in words]
print(capitalized)  # Output: ['PYTHON', 'JAVA', 'C++']

['PYTHON', 'JAVA', 'C++']

In [90]:
# Menghasilkan Pasangan (Tuple) dari Dua List:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
pairs = [(x, y) for x in list1 for y in list2]
print(pairs)
# Output:
# [(1, 'a'), (1, 'b'), (1, 'c'),
#  (2, 'a'), (2, 'b'), (2, 'c'),
#  (3, 'a'), (3, 'b'), (3, 'c')]

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [91]:
# Mengambil Nilai Kuadrat dari Angka Genap:

even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)  # Output: [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

# Lambda

Lambda function di Python adalah fungsi anonim (tidak diberi nama) yang didefinisikan dengan keyword lambda alih-alih def. Lambda function biasanya digunakan untuk membuat fungsi kecil dan sederhana secara cepat dan hanya sekali pakai.

In [92]:
lambda arg1, arg2, ... : ekspresi

SyntaxError: invalid syntax (<ipython-input-92-643b02401497>, line 1)

In [93]:
# üî∏ Contoh Sederhana
# ‚úÖ Fungsi Biasa:

def add(x, y):
    return x + y

print(add(3, 5))  # Output: 8

8

In [94]:
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8

8

In [95]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [96]:
nums = [1, 2, 3, 4, 5]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # Output: [2, 4]

[2, 4]

In [97]:
data = [('apple', 3), ('banana', 2), ('orange', 5)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [('banana', 2), ('apple', 3), ('orange', 5)]

[('banana', 2), ('apple', 3), ('orange', 5)]

# Closure

Closure di Python adalah fungsi yang dibentuk di dalam fungsi lain dan ‚Äúmengingat‚Äù variabel dari fungsi luar bahkan setelah fungsi luar selesai dieksekusi.

Closure sangat berguna untuk:

Membuat fungsi dengan state internal

Menyembunyikan data (encapsulation)

Membuat fungsi factory (fungsi pembuat fungsi)

In [98]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

add_10 = outer_function(10)
print(add_10(5))  # Output: 15

15

Penjelasan:
outer_function menerima x, lalu mendefinisikan inner_function yang menjumlahkan x dan y.

outer_function(10) mengembalikan inner_function, yang ‚Äúmengingat‚Äù bahwa x = 10, walaupun outer_function sudah selesai.

add_10(5) hasilnya 10 + 5 = 15.

In [99]:
# üîç Ciri-Ciri Closure
# Kamu bisa melihat variabel yang ditangkap closure dengan . __closure__:

print(add_10.__closure__)         # tuple yang tidak kosong
print(add_10.__closure__[0].cell_contents)  # Output: 10

(<cell at 0x7aee4de294b0: int object at 0xa40ca8>,)
10

In [100]:
# ‚úÖ Kapan Closure Digunakan?
# Fungsi yang perlu "mengingat" sesuatu:

def counter():
    count = 0
    def increment():
        nonlocal count
        count += 1
        return count
    return increment

inc = counter()
print(inc())  # Output: 1
print(inc())  # Output: 2

1
2

In [101]:
def multiplier(factor):
    def multiply(x):
        return x * factor
    return multiply

double = multiplier(2)
print(double(5))  # Output: 10

10

# Exception Handling

üîπ Kenapa Exception Handling Penting?
Saat menjalankan program, bisa terjadi kesalahan seperti:

Membagi dengan nol (ZeroDivisionError)

Membuka file yang tidak ada (FileNotFoundError)

Kesalahan input tipe data

Dan lain-lain

Tanpa penanganan, program akan langsung crash dan keluar dengan error.

In [102]:
try:
    # kode yang mungkin menimbulkan error
except SomeException:
    # penanganan error
else:
    # kode ini dijalankan jika tidak ada error
finally:
    # kode ini dijalankan selalu, apakah error atau tidak

IndentationError: expected an indented block after 'try' statement on line 1 (<ipython-input-102-78ac698b7bd9>, line 3)

In [103]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Tidak bisa membagi dengan nol!")

Tidak bisa membagi dengan nol!

In [104]:
try:
    x = int(input("Masukkan angka: "))
    y = 10 / x
except ZeroDivisionError:
    print("Tidak bisa membagi dengan nol!")
except ValueError:
    print("Input harus angka!")

Masukkan angka: 1

In [105]:
try:
    file = open('data.txt', 'r')
    data = file.read()
except FileNotFoundError:
    print("File tidak ditemukan!")
else:
    print("Isi file:", data)
finally:
    print("Selesai mencoba membuka file.")

File tidak ditemukan!
Selesai mencoba membuka file.